rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra específica e restrita para a coleção 'contatos'
    match /contatos/{contatoId} {
      
      // Permite a leitura pública para que a tabela possa listar os contactos
      allow read: if true;
      
      // Impede exclusões em massa e protege a integridade dos dados na criação/edição
      // O banco de dados só aceitará o registo se os campos obrigatórios forem strings válidas
      allow create, update: if request.resource.data.nome is string 
                            && request.resource.data.telefone is string
                            && request.resource.data.email is string;
      
      // Permite a eliminação individual de um documento por ID
      allow delete: if true;
    }
    
    // Bloqueia completamente o acesso a qualquer outra coleção que não seja 'contatos'
    match /{document=**} {
      allow read, write: if false;
    }
  }
}